.fore{justify-content: center; display: flex; position: relative; left: 5px;}
.today{position: relative ; right: 80px; }
.b{position: relative; bottom: 50px; left: 50px; margin: 15px}
.cloud{position: relative ; bottom: 40px;}